.block-loading {
    z-index: 9999;
    background: url(/img/ajax-loader.gif) #ddd center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.4;
}

.imagen{
    margin-top: -50px;
}