@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - GestionEmpleado</title>
    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/font/all.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav text-sm" id="main-page">
    <div class="wrapper">
        @{ 
            await Html.RenderPartialAsync("_MenuTop");
        }
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="background: #e9ecef">
                <!-- Main content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="pt-2"></div>
                        @RenderBody()
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Main Footer -->
            <footer class="main-footer" style="background: url('/img/murales.png') repeat; display:inline-block; width:100%;">
                <!-- To the right -->
                <div class="float-right d-none d-sm-inline">IGSSGT</div>
                <!-- Default to the left -->
                <strong>Gestión del empleado @DateTime.Now.Year</strong>
            </footer>
    </div>
    <!-- ./wrapper -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
